@model CreateCategoryRequestModel


<form asp-controller="Category" asp-action="CreateCategory" method="post">

    <div class="form-control">
        <input type="text" placeholder="Lutfen Kategori ismi giriniz" asp-for="CategoryName" />
    </div>

    <div class="form-control">
        <input type="text" placeholder="Acıklama giriniz" asp-for="Description" />
    </div>

    <div>
        <button class="btn btn-primary">Ekle</button>
    </div>

</form>
